{% extends 'mainApp/mainPage.html' %}

{% block content%}
    <div class="row">
        <div class=" col-4 mt-3"></div>
        <div class=" col-4 mt-3">
            <div class="header-h1 mt-3">
                <h1>Список дисциплин группы:{{group.name}} </h1>
            </div>
        </div>                 
        <div class=" col-4 mt-3"></div>
    </div>
    <div class="btn-group mt-2">
        <a href="create_dis" class="btn waves-effect waves-light btn-grd-inverse" role="button" aria-pressed="true">Добавить дисциплину</a>
    </div>
    <table class="table table-hover table-condensed mt-3">
      <thead>
          <tr style="background-image: linear-gradient(to right, #4c626d 0%, #1e272b 51%, #4c626d 100%);color: #fff;">
              <td>Дисциплина</td>
              <td style="display: flex; justify-content: flex-end;"><b>Ссылка</b></td>
          </tr>
      </thead>
      <tbody>
            {% for i in courses %}
                {% if i.group == group%}
                    {% if i.User == request.user %}
                        <tr>      
                            <td>{{i.course}}</td>
                            <td><a href="{% url 'list_courses' detail_group=group.id list_courses=i.id %}" style="display: flex; justify-content: flex-end;">Перейти к группе</a></td>
                        </tr>
                    {% else %}
                    {% endif %}
                {% else%}
                {% endif%}
            {% endfor %}
      </tbody>
    </table>
{% endblock %}