<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
    <style type="text/css">
        .form-group {
            clear:both; 
            text-align:right;
        }
        label {
            float:left;
        }
    </style>
</head>
<body class="jumbotron jumbotron-fluid">
    <div class="row ">
        <div class="col-4" ></div>
        <div class="col-4" >
            <form method="POST">
                {% csrf_token %}
                <div class="form-control"> 
                    <h3>Регистрация</h3>
                    {% for field in formreg %}
                        <div class="form-group">  
                            {{ field.errors }}               
                            <div class="form-control"> 
                                {% if field == formreg.role %}
                                <label>Зарегистрироваться как:</label>
                                <select name="role" id="id_role" onChange="Selected(this)">
                                    <option value="Студент" selected="">Студент</option>   
                                    <option value="Преподаватель">Преподаватель</option>                              
                                  </select>
                                {% else %}
                                    {% if field == formreg.middlename %}
                                        <label>Отчество:</label>
                                        {{ field }}                                 
                                    {% else %}
                                        {% if field == formreg.group %}
                                            <label>Группа:</label>
                                            {{field}}
                                        {% else %}
                                            {{ field.label_tag }}{{ field }}
                                        {% endif %}
                                    {% endif%}
                                {% endif %}
                            </div>                       
                        </div>
                    {% endfor %}   
                </div>  
                <div class="mt-4">
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn btn-secondary btn-sm" type="submit" value="Зарегистрироваться">
                      </div>
					<div class="d-flex justify-content-center links">
						<p>Уже есть аккаунт?</p> <a href="{% url 'login' %}" class="ml-2">Войти</a>
					</div>
				</div>    
            </form>  
        </div>
        <div class="col-4" ></div>
    </div>
    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].required= true;
        form_fields[2].required= true;
        form_fields[3].required= true;
        form_fields[4].required= true;
        form_fields[5].required= true;
        form_fields[6].required= true;
        form_fields[7].required= true;
        function Selected(a) {
            var label = a.value;
            if (label == 'Студент') {
                var form_fields2 = document.getElementsByTagName('input')
                form_fields2[1].required= true;
                form_fields2[2].required= true;
                form_fields2[3].required= true;
                form_fields2[4].required= true;
                form_fields2[5].required= true;
                form_fields2[6].required= true;
                form_fields2[7].required= true;
                var fields1 = document.getElementsByClassName('form-group')
                fields1[6].style.display = 'block'
                var fields2 = document.getElementsByClassName('form-group')
                fields2[6].style.display = 'block'
            }
            else if (label=='Преподаватель') {
                var form_fields3 = document.getElementsByTagName('input')
                form_fields3[1].required= true;
                form_fields3[2].required= true;
                form_fields3[3].required= true;
                form_fields3[4].required= true;
                form_fields3[5].required= true;
                form_fields3[6].required= true;
                form_fields3[7].required= false;
                var fields3 = document.getElementsByClassName('form-group')
                fields3[6].style.display = 'None'
                var fields4 = document.getElementsByClassName('form-group')
                fields4[6].style.display = 'None'
            }
        }
    </script>
</body>
</html>