{% extends 'mainApp/mainPage.html' %}

{% block content %}

    <div class="row">
        <div class=" col-4 mt-3"></div>
        <div class=" col-4 mt-3">
            <div class="header-h1 mt-2">
                <h1>Дисциплина {{course.course}}<br>
                    Группа {{group.name}}
                </h1>
            </div>

        </div>                 
        <div class=" col-4 mt-3"></div>
    </div>
    <div class="btn-group mt-2">
        <button data-target="#myModal" role="button" class="btn waves-effect waves-light btn-grd-inverse" data-toggle="modal">Добавить колонку</button>
        <button data-target="#myModal2" role="button" class="btn waves-effect waves-light btn-grd-inverse" data-toggle="modal">Удалить колонку</button>  
        <button class="btn waves-effect waves-light btn-grd-inverse" id="bt3"> Начать редактирование </button> 
    </div>
    <div id="myModal" class="modal fade" role="dialog" tabindex='-1'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Добавление колонки</h4>
                </div>
                <div class="modal-body">
                    <form action="" method="POST" id="form_one">
                        {% csrf_token %}
                        <label for="data_cal">Выберите дату: </label>
                        <input type="date" class="form-control" id="date" name="form_type_1" placeholder="Дата" required>
                        <input type="submit" value="Добавить" name = "form_type">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal2" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Удаление колонки</h4>
            </div>
            <div class="modal-body">
                <form action="" method="POST" id="form_two">
                    {% csrf_token %}
                    <label for="data_sel">Выбери дату: </label>
                    <select name="form_type2">
                        {% for i in data_select %}
                            <option> {{i.data|date:"d-n-Y"}} </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Удалить" name = "form_type_2">
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
          </div>
        </div>
      </div>       
    <form action="" method="POST" id="form_3" name='form_33'>{% csrf_token %} 
    <div class="btn-group mt-2"> 
        <button class="btn waves-effect waves-light btn-grd-success" id="bt4" type="submit"> Сохранить изменения </button>
    </div>
    <div class="all_groups mt-2">
        
        <div class="div_row">
            <div class="div_name">
                <h6>Студенты</h6>
            </div>
            {% for i in attendance %}
                {% if i.course.course == course.course %}
                    {% if users.0 == i.User %}
                        <div class="div_status">
                            {{i.data|date:"d-n-Y"}}
                        </div>
                    {% endif %}    
                {% endif %}
            {% endfor %}
        </div>
        
        {% for i in users %}
            <div class ="div_row">
                <div class="div_name">
                    <h6>{{i.last_name}} {{i.first_name}} {{i.middlename}}</h6>
                </div>
                {%  for j in attendance %}
                    {% if i == j.User %}
                        {% if j.course.course == course.course %}
                            <div class="div_status">
                                {% if j.status == '+' %}
                                    <input class="in_check" name = "in_checkbox={{j.id}}" type="checkbox"  onclick="p(event)" checked>
                                {% else %}
                                    <input class="in_check" name = "in_checkbox={{j.id}}" type="checkbox"  onclick="p(event)">
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endif%}
                {%  endfor %}
            </div>
        {% endfor %}
        </form>
    </div>

    <script>
        var check_test = true
        function p(e) {
            if (check_test){
                e.preventDefault();
                return false;
            }    
        };
        $('#bt3').click(function(){
            check_test = false
        })
        $('#bt4').click(function(){
            check_test = true
        })

    </script>

{% endblock %}
$('#bt3').click(function(){
            $(".in_check").off("click")  
        })